<head>
  <link rel="stylesheet" href="/stylesheets/detail.css">
</head>
<a href="/">Home Page</a>
<a href=""></a>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{dc.image}}" />
    </div>

    <div class="col">
      <h1>Product Information</h1>
      <h5 class="mt-5">Brand: {{dc.brandName}}</h5>
      <h5>Model: {{dc.modelName}}</h5>
      <h5>Price: ${{dc.price}}</h5>
      <h5>Description: <br>{{dc.description}}</h5>
      <input
          type="number"
          name="quantity"
          min="1"
          max="{{ dc.quantity }}"
          value="1"
        />
        <input type="hidden" name="id" value="{{ dc._id }}">
        <input type="hidden" name="price" value="{{ dc.price }}">
        <input type="submit" class="btn btn-primary" value="Order" />
      </form>
    </div>
  </div>
</div>